<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WDWInfomagic</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.1.0/css/line-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Aladin|Kalam&display=swap" rel="stylesheet">
    <link href="~/Content/Site.css?v=47602b1e" rel="stylesheet" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="InfoMagic">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/app-icon-152.png" type="image/png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/app-icon-167.png" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/app-icon-180.png" type="image/png">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/tinysort")
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
    <script>
        jQuery.event.special.touchstart = {
            setup: function (_, ns, handle) {
                if (ns.includes("noPreventDefault")) {
                    this.addEventListener("touchstart", handle, { passive: false })
                } else {
                    this.addEventListener("touchstart", handle, { passive: true })
                }
            }
        }
    </script>
</body>
</html>
