@model IEnumerable<WDWInfomagic.Models.RideViewModel>

@{
    ViewBag.Title = "WaitTimes";
}

<style>
    ul {
        padding: 0;
    }

    li {
        list-style: none;
        border-bottom: 1px solid white;
        padding: 5px 10px 5px 10px;
        /*background-color: #B721FF;*/
        /*background-image: linear-gradient(19deg, #B721FF 0%, #21D4FD 100%);*/
    }

    .ride-container {
        position: relative;
        min-height: 95px;
    }

    .ride-name {
        margin: 0;
        margin-right: 85px;
        font-size: 20px;
    }

    .ride-last-update-time {
        float: right;
        font-size: 13px;
    }

    .ride-wait-time {
        float: right;
        font-size: 33px;
        line-height: 60px;
        position: absolute;
        top: 11px;
        right: 0px;
        width: 70px;
        height: 70px;
        text-align: center;
        border: 3px solid;
        border-radius: 50%;
    }

    .ride-active {
        background: white;
        /*background: #8e2de2; /* fallback for old browsers */
        /*background: -webkit-linear-gradient(to right, #8e2de2, #4a00e0);*/ /* Chrome 10-25, Safari 5.1-6 */
        /*background: linear-gradient(to right, #8e2de2, #4a00e0);*/
        color: black;
        border: 1px solid;
        border-bottom: none;
    }

    .ride-inactive {
        background: gray;
        color: black;
    }

    #last-updated {
        width: 100%;
        text-align: right;
        padding-right: 10px;
    }
</style>
<div class="row bottomspace-large">
    <div class="col-12 text-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> A-Z
            </label>
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="option3" autocomplete="off"> Time
            </label>
        </div>
    </div>
</div>
@if (Model != null) {
    <div class="row">
        <div style="width: 100%">
            <ul>
                @foreach (var ride in Model) {
                    var clr = (ride.active) ? "ride-active" : "ride-inactive";
                    <li class="@clr">
                        <div class="ride-container">
                            @*<div class="ride-last-update-time">@ride.lastUpdate</div>*@
                            <h3 class="ride-name">@ride.name</h3>
                            <div class="ride-wait-time" style="border-color: @ride.color;color: @ride.color">@ride.waitTime</div>
                            <div class="ride-location">@ride.location</div>
                            @if (ride.active == false) {
                                <div class="ride-status">@ride.status</div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div id="last-updated">Last updated: @Model.First().lastUpdate</div>
    </div>
}

@section scripts {
    <script>
        $(document).ready(function () {
            alert('test')
            console.log('test')
        })
    </script>
}
