@model IEnumerable<WDWInfomagic.Models.RideViewModel>

@{
    ViewBag.Title = "WaitTimes";
}
<div class="row bottomspace-large">
    <div class="col-12 text-center">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="radio" name="options" id="sort-az" autocomplete="off" readonly="readonly"> A-Z
            </label>
            <label class="btn btn-primary active">
                <input type="radio" name="options" id="sort-time" autocomplete="off" readonly="readonly"> Wait
            </label>
        </div>
    </div>
</div>
@if (Model != null) {
    <div class="row">
        <div style="width: 100%">
            <ul>
                @foreach (var ride in Model) {
                    var clr = (ride.active) ? "ride-active" : "ride-inactive";
                    <li class="@clr">
                        <div class="ride-container">
                            @*<div class="ride-last-update-time">@ride.lastUpdate</div>*@
                            <h3 class="ride-name">@ride.name</h3>
                            <div class="ride-wait-time" style="border-color: @ride.color;color: @ride.color">@ride.waitTime</div>
                            <div class="ride-location">@ride.location</div>
                            @if (ride.active == false) {
                                <div class="ride-status">@ride.status</div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div id="last-updated" style="color:white;">Last updated: @Model.First().lastUpdate</div>
    </div>
}
<script>
    $(document).ready(function () {
    })
</script>